/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.all {
    margin-top: 6rem;
}

 /* NavBar */
.nav{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(25, 117, 255);
    z-index: 1;
    max-height: 4.5rem;
}
  
.list {
    text-align: right;
    list-style-type: none;
    margin-top: 0;
    display: inline-flex;
}

.navBar {
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    font-family: 'Asap', 'Helvetica', 'Arial', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
}

.navBar:visited {
    color: #FFF;
}

.navBar:hover {
    background-color: rgb(25, 117, 255);
}

.Facebook {
    font-size: 1.7rem;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    margin-left: 34rem;
    margin-top: 0.7rem;
}




.index {
    width: 33%;
    margin-left: 3rem;
}

.post {
    margin-bottom: 0.7rem;
    padding: 0.2rem 0.8rem;
    width: 100%;
    border-color: black;
    border-width: 1px;
    border-radius: 1rem;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.2);
}

.name {
    font-size: 1.2rem;
    color: black;
}

.self-name {
    color: rgb(25, 117, 255);
}

.text {
    font-size: 1rem;
}

.front {
    display: inline-flex;
    width: 100%;
}

.profile {
    width: 30%;
}

.show {
    padding-bottom: 1rem;
    width: 80%;
}

.comment {
    margin-bottom: 0.7rem;
    padding: 0.7rem 0.8rem;
    width: 30%;
    border-color: black;
    border-width: 1px;
    border-radius: 1rem;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.2);
}

.follow {
    margin-left: 4.5rem;
    margin-right: 0.5rem;
    width: 25%;
}

.followers {
    padding: 1rem;
}

.na {
    font-size: 1rem;
    font-weight: 800;
}

.un {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.85rem;
}

.em {
    color: rgba(0, 0, 0, 0.5)
}

#post_text {
    height: 5rem;
    width: 20rem;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
    border-radius: 0.9rem;

}

.control {
    font-size: 0.8rem;
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

a, a:visited {
    color: rgba(0, 0, 0, 0.8);
}

a:hover {
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.fa {
    size: 1rem;
    margin-right: 1rem;
    color: rgb(25, 117, 255);
}

.fa:hover {
    color: rgb(0, 0, 0);
}

.notification {
    text-align: center;
}

.log-in {
    margin-top: 10rem;
}

.title {
    color: rgb(25, 117, 255);
    text-align: center;
    font-size: 2rem;
}

label {
    text-align: center;
    margin: 1rem 0;
    font-size: 1rem;
}

.required, .string, .password, .email {
    text-align: center;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.7);
}

#user_username, #user_password, #user_name, #user_email, #user_password_confirmation, #user_current_password {
    width: 18rem;
    height: 1.1rem;
}

.btn {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.label {
    color: red;
}

.img {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
}

.profiles {
    padding: 1rem;
}

.prof_name {
    margin-top: 2rem;
    margin-left: 1rem;
}

.name_and_picture {
    display: inline-flex;
    height: 5rem;
}

.unhappy {
    text-align: center;
    font-size: 1rem;
}

.cancel {
    text-decoration: underline;
    color: rgb(25, 117, 255);
}

.edit {
    margin-left: 10rem;
    display: inline-flex;
}

.element {
    margin: 0 5rem;
}